<div id="sidebar" class="d-flex flex-column  vh-100  p-3">
  <h2 class="custom-title text-center fw-bold">🍹 Mood Drinks</h2>
    <ul class="nav flex-column mt-4">
        <li class="nav-item" >
          <a  routerLink="/dashboard" class="nav-link d-flex align-items-lg-center gap-2" href="#">
            <i class="bi bi-house-door"></i>Dashboard
        </a>
        </li>
        
          <li class="nav-item">
            <a routerLink="/orders" class="nav-link text-dark d-flex align-items-center gap-2" href="#">
              <i class="bi bi-cart"></i> Orders
            </a>
          </li>
          <li class="nav-item" >
            <a routerLink="/items" class="nav-link text-dark d-flex align-items-center gap-2" href="#">
              <i class="bi bi-menu-button-wide"></i> Items
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/analytics" class="nav-link text-dark d-flex align-items-center gap-2" href="#">
              <i class="bi bi-bar-chart"></i> Analytics
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/Chat" class="nav-link text-dark d-flex align-items-center gap-2" href="#">
              <i class="bi bi-chat-dots"></i> Chat
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/setting" class="nav-link text-dark d-flex align-items-center gap-2" href="#">
              <i class="bi bi-gear"></i> Setting
            </a>
          </li>
    </ul>
    <div class="mt-auto text-center">
        <button routerLink="/logout" class="btn btn-dark w-100 rounded-pill fw-bold">
            <i class="bi bi-box-arrow-in-left"></i> Log Out</button>
      </div>
  </div>