<div id="category-section" class="p-1">
  <h4 class="fw-bold">Choose Category</h4>
  <div class="category-list">
    <div class="category-item" (click)="selectCategory('Roses')">
      <img src="/asset/SignatureElixirs.jpg" alt="Roses">
      <span>Signature Elixirs</span>
    </div>
    <div class="category-item" (click)="selectCategory('Tulips')">
      <img src="/asset/Fruit Infusions.jpg" alt="Tulips">
      <span>Fruit Infusions</span>
    </div>
    <div class="category-item" (click)="selectCategory('Lilies')">
      <img src="/asset/Herbal & Wellness Drinks.jpg" alt="Lilies">
      <span>Herbal & Wellness</span>
    </div>
    <div class="category-item" (click)="selectCategory('Orchids')">
      <img src="/asset/Iced & Bubble.jpg" alt="Orchids">
      <span>Iced & Bubble</span>
    </div>
    <div class="category-item" (click)="selectCategory('Orchids')">
      <img src="/asset/Iced & Bubble.jpg" alt="Orchids">
      <span>Iced & Bubble</span>
    </div>
    <div class="category-item" (click)="selectCategory('Peonies')">
      <img src="/asset/Hot Delights.jpg" alt="Peonies">
      <span>Hot Delights</span>
    </div>
  </div>
</div>
